
@model GameDetailsServiceModel

<div class="row">
    <div class="col-md-6">
        <div class="project-info-box mt-0">
            <h1>@Model.Name</h1>
        </div><!-- / project-info-box -->
        <div class="project-info-box">
            <p><b>Seller:</b> @Model.SellerName</p>
            <p><b>Release Date:</b> @Model.ReleaseDate</p>
            <p><b>Developer:</b> @Model.Developer</p>
            <p><b>Genre:</b> @Model.GenreName</p>
            <p><b>Price:</b> @Model.Price$</p>
            <div>
                <p>@Model.Description</p>
            </div>    
        </div><!-- / project-info-box -->

    </div>
    <div class="col-md-6">
        <img src="@Model.ImageUrl" alt="project-image" class="rounded card-size-2">
        <div class="project-info-box">
            <a asp-controller="ShoppingCart" asp-action="Add" asp-route-id="@Model.Id" class="btn btn-success">Add to Cart</a>
        </div><!-- / project-info-box -->
    </div><!-- / column -->
</div>

<div>
    <div>
        <div class="custom-button">
            <a asp-controller="Reviews" asp-action="Add" asp-route-id="@Model.Id" class="btn btn-primary">Add Review</a>
            <a asp-controller="DownloadableContents" asp-action="All" asp-route-id="@Model.Id" class="btn btn-primary">All Dlcs</a>
        </div>    
        @if (Model.Reviews.Count() == 0)
            {
                <h2 class="text-center">There are currently no reviews.</h2>

            }
        @if(Model.Reviews.Count() > 0)
            {
            <div>
                 <div class="card-body text-center">
                     <h4 class="card-title">Latest Reviews</h4>
                 </div>
                 <div class="comment-widgets">
                     @foreach (var review in Model.Reviews.Reverse().Take(3))
                     {
                        <div class="d-flex flex-row comment-row m-t-0 review-border">
                            <div class="p-2"><img src="https://i.imgur.com/Ur43esv.jpg" alt="user" width="50" class="rounded-circle"></div>
                            <div>
                                <h6 class="font-medium">@review.DisplayName</h6> <span>@review.Content</span>
                                <span>
                                @if (this.User.Id() == review.UserId || User.IsAdmin())
                                 {
                                    <a asp-controller="Reviews" asp-action="Edit" asp-route-id="@review.Id" class="btn btn-warning">Edit</a>
                                    <a asp-controller="Reviews" asp-action="Delete" asp-route-id="@review.Id" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete?');">Delete</a>
                                 }
                                </span>
                            <div class="comment-footer">
                                <span class="text-muted">@review.PostedOn</span>
                            </div>
                            </div>
                        </div>
            }
                 </div> <!-- Card -->
            <div class="custom-button">
                     <a asp-controller="Reviews" asp-action="All" asp-route-id="@Model.Id" class="btn btn-primary">View All @Model.Reviews.Count() Reviews</a>
                </div>
            </div>
            }
        
    </div>
</div>
